<div class="bf-content">
    <div class="bf-header">
        Форма отправки сообщения! {{field_title}}
    </div>
    <form action="" method="post">
        <div class="bf-row">
            <label>Имя:</label>
            <input title="This will be the tooltip text." data-bf-valid-pattern="[а-я ]+{5,}" data-bf-valid-error-msg="Введите буквы" data-bf-valid-required="1" class="bf-form-control" name="name" placeholder="Иванов Иван" type="text" value="" />
        </div>
        <div class="bf-row">
            <label>да:</label>
            <input data-bf-valid-pattern="[А-Яа-яЁё ]+" data-bf-valid-error-msg="Введите буквы" data-bf-valid-required="1" class="bf-form-control" name="type" placeholder="Иванов Иван" type="checkbox" value="" />
        </div>
        
        <div class="bf-row">
            <label>нет:</label>
            <input data-bf-valid-pattern="[А-Яа-яЁё ]+" data-bf-valid-error-msg="Введите буквы" data-bf-valid-required="1" class="bf-form-control" name="type" placeholder="Иванов Иван" type="checkbox" value="" />
        </div>
 

        <div class="bf-row">
            <label>Выберите услугу:</label>
            <select name="" id="">
             <option value=""></option>
                <option value="1">Москва</option>
                 <option value="2">Москва</option>
            </select>
        </div>
        <div class="bf-row">
            <label>Телефон:</label>
            <input  data-bf-valid-pattern="[0-9 ]{5,}" data-bf-valid-error-msg="Введите цифры"   class="bf-form-control" name="phone" placeholder=""   type="text" value="" />
        </div>
        <div class="bf-row">
            <label>Комментарий:</label>
            <textarea class="bf-form-control" cols="40" rows="5" name=""></textarea>
        </div>
        <div class="bf-row">
            <label>Прикрепить файлы:</label>
            <input class="bf-form-control" multiple="multiple" name="upload_file[]" type="file" />
        </div>
        <div class="bf-row">
            <div class="bf-info-img">
                <img width="110" height="60" title="Обновить картинку" class="bf-img-capcha" src="/rockform/init.php?type=capcha" alt="" />
            </div>
            <input class="capcha bf-form-control" name="capcha" placeholder="Код с картинки" type="text" value="" />
        </div>
        <div class="bf-row">
            <input class="btn btn-default bf-right" name="submit" type="submit" value="Отправить" />
        </div>
    </form>
</div>
