<div class="bf-content">
    <div class="bf-header">
        Форма отправки сообщения!
    </div>
    <form action="" method="post">
        <div class="bf-row">
            <label> Имя<span>*</span>:</label>
            <input placeholder="" class="bf-form-control" name="name" placeholder="" type="text" value="" />
        </div>
        <div class="bf-row">
            <label> Телефон<span>*</span>:</label>
            <input  data-bf-mask="+7 (000) 000-00-00" placeholder="+7 (___) ___-__-__"  class="bf-form-control" name="phone" placeholder="" type="text" value="" />
        </div>
 
        <div class="bf-row"> 
            <a data-bf-popup='close' href="#">Закрыть форму</a>
        </div>

        <div class="bf-row"> 
            <a data-bf-config='' href="#">Запустить другую форму</a>
        </div>

        <div class="bf-row"> 
        
        </div>
 
        <div class="bf-row">
            <input class="btn btn-default bf-right" name="submit" type="submit" value="Отправить" />
        </div>
    </form>
</div>
