<div class="bf-content">
    <div class="bf-header">
        Форма отправки сообщения!
    </div>
    <form action="" method="post">
   
        <div class="bf-row">
            <label>Комментарий:</label>
            <textarea class="bf-form-control" cols="40" rows="5" name="comment"></textarea>
        </div>
        <div class="bf-row">
            <label>Прикрепить файлы:</label>
            <input class="bf-form-control" multiple="multiple" name="file" type="file" />
        </div>

        <div class="bf-row">
            <input class="btn btn-default bf-right" name="submit" type="submit" value="Отправить" />
        </div>
    </form>
</div>
