<div class="bf-content">
    <div class="bf-header">
        Форма заказа звонка
    </div>

    <form action="" method="post">
        <div class="bf-row">
            <label>Имя:</label>
            <input placeholder="Обязательное поле" required="required" class="bf-form-control" name="name" placeholder="" type="text" value="" />
        </div>
        <div class="bf-row">
            <label>Телефон:</label>
            <input placeholder="Обязательное поле" required="required" class="bf-form-control" name="phone" placeholder="" type="text" value="" />
        </div>

        <div class="bf-row">
            <input class="btn btn-default bf-right" name="submit" type="submit" value="Отправить" />
        </div>
    </form>
</div>
