<div class="bf-content" style="width: 800px;">
    <div class="bf-header">
       Политика конфиденциальности и защиты информации
    </div>

    <p>Администрация сайта <a href="//{{SERVER.HTTP_HOST}}">{{SERVER.HTTP_HOST}}</a> (далее – «Сайт») с уважением относится к посетителям нашего Сайта. Мы со всей ответственностью относимся к Вашему праву на конфиденциальность личной информации. Пожалуйста, прочитайте нижеизложенную информацию о политике конфиденциальности на Сайте, ознакомившись с которой Вы даете согласие на сбор, хранение и использование Вашей личной информации в соответствии с данной политикой. </p>
 

 <h3>Сбор информации</h3>
 
<p>На нашем сайте мы можем собирать, хранить и использовать следующие типы персональной информации:</p><p>
1. информацию о Ваших посещениях, использовании Сайта, Ваш IP-адрес, географическое положение, информацию о компьютере, включая версию браузера, операционную систему, источник информации, продолжительность визита, количество просмотров страницы;</p>
<p>
2. информацию, касающуюся любых произведенных на Сайте или в отношении него операций;</p><p>
3. информацию, предоставленную Вами при регистрации на Сайте и при его использовании;</p><p>
4. учетные записи любой деятельности пользователей Сайта.</p><p>
Вся персональная информация предоставляется Вами добровольно при посещении или регистрации на Сайте. </p> 

 
<h3>Использование информации</h3>
<p>
Администрация Сайта оставляет за собой право использовать предоставленные Вами данные для индивидуализации настроек, повышения удобства Вашего пользования Сайтом, а также для иных не противоправных целей. Мы гарантируем не предоставление сведений о Вас третьим лицам, в случаях, если:</p><p>
1. сведения не предназначались для передачи третьим лицам;</p><p>
2. это не требуется в соответствии с применимым законодательством;</p><p>
3. мы не обнаружим, что Ваше использование Сайта нарушает нашу политику конфиденциальности и пользовательское соглашение, а также другие рекомендации для пользователя, или это не окажется необходимым для защиты наших законных прав и/или собственности.</p><p>
Администрация Сайта вправе передать ваши персональные данные третьим лицам в случаях если:</p><p>
3.3.1. Вы выразили свое согласие на такие действия;</p><p>
3.3.2. передача необходима в рамках использования Вами определенного ресурса Сайта или исполнения иных обязательств перед Вами (или лицом, которое Вы представляете);</p><p>
3.3.3. передача происходит в ходе продажи или иной передачи прав на Сайт (полностью или частично), причем к новому владельцу переходят все обязательства по соблюдению условий настоящей политики конфиденциальности применительно к полученной им персональной информации;</p><p>
3.3.4. получения официального запроса государственного органа, составленного в соответствии с требованиями действующего законодательства РФ;</p><p>
3.3.5. это необходимо для обеспечения возможности защиты прав и законных интересов администрации Сайта или третьих лиц (в частности, если Вы нарушаете Пользовательское соглашение);</p><p>
3.3.6. в иных случаях, предусмотренных действующим применимым законодательством.</p>

<h3>Изменение Политики конфиденциальности</h3>
 <p>
Мы оставляем за собой право в одностороннем порядке изменять настоящую Политику конфиденциальности. В свою очередь, мы обязуемся в обязательном порядке разместить на страницах Сайта обновленную Политику конфиденциальности. </p>

 <a  data-bf-config="{{field_form}}" href="#">&larr; Вернуться в форму</a>
 
</div>
